<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Formualrio Alta Cliente Juridico</title>
</head>
<body>
  <form action="#" th:action=@{procesarAltaClienteJuridico} th:object="${juridico}" method="post">
    <p>Numero Cliente: <input type="text" th:field="*{nroCliente}"></p>
    <p>Razon Social: <input type="text" th:field="*{razonSocial}"></p>
    <p>Cuit: <input type="text" th:field="*{cuit}"></p>
    <p>Direccion: <input type="text" th:field="*{contacto.direccion}"></p>
    <p>Email: <input type="email" th:field="*{contacto.email}"></p>
    <p>Movil: <input type="text" th:field="*{contacto.movil}"></p>
    <p>Fijo: <input type="text" th:field="*{contacto.fijo}"></p>
    <input type="submit" value="Enviar">
 </form>
</body>
</html>