<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Menu Cliente</title>
</head>
<body>
  <h2>Opciones:</h2>
  <form action="altaClienteFisico" method="post">
    <button type="submit">AltaClienteFisico</button>
    <br><br>
  </form>
  <form action="altaClienteJuridico" method="post">
    <button type="submit">AltaClienteJuridico</button>
    <br><br>
  </form>
  <form action="bajaCliente" method="post">
    <button type="submit">BajaCliente</button>
    <br><br>
  </form>
  <form action="modificacionCliente" method="post">
    <button type="submit">ModificacionCliente</button>
    <br><br>
  </form>
  <form action="listaCliente" method="post">
    <button type="submit">ListarClientes</button>
    <br><br>
  </form>
  <a href="/">volver a la pagina anterior</a>
</body>
</html>