<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Menu Producto</title>
</head>
<body>
  <h2>Opciones:</h2>
  <form action="altaProducto" method="post">
    <button type="submit">AltaProducto</button>
    <br><br>
  </form>
  <form action="bajaProducto" method="post">
    <button type="submit">BajaProducto</button>
    <br><br>
  </form>
  <form action="modificacionProducto" method="post">
    <button type="submit">ModificacionProducto</button>
    <br><br>
  </form>
  <form action="listaProducto" method="post">
    <button type="submit">ListarProductos</button>
    <br><br>
  </form>
    <a href="/">volver a la pagina anterior</a>
</body>
</html>