<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pagina de Inicio</title>
</head>
<body>
  <h1>Bienvenido al Sistema de Carga de Pedidos</h1>
  <h2>Opciones:</h2>
  <form action="menuCliente" method="post">
    <button type="submit">Clientes</button>
    <br><br>
  </form>
  <form action="menuProducto" method="post">
    <button type="submit">Productos</button>
    <br><br>
  </form>
  <form action="menuPedido" method="post">
    <button type="submit">Pedidos</button>
    <br><br>
  </form>
</body>
</html>